* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

h1,
h2,
h3,
p,
ul,
li{
  margin: 0;
}

span {
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Clouds {
  background-image: url(/image/clouds.jpeg);
}

#Thunderstorm {
  background-image: url(/image/Thunderstorm.jpg);
}

#Drizzle {
  background-image: url(/image/Drizzle.jpg);
}

#Rain {
  background-image: url(/image/Rain.jpg);
}

#Snow {
  background-image: url(/image/Snow.jpg);
}

#Mist {
  background-image: url(/image/Mist.jpg);
}

#Smoke {
  background-image: url(/image/Smoke.jpg);
}

#Haze {
  background-image: url(/image/Haze.jpg);
}

#Dust {
  background-image: url(/image/Dust.jpg);
}

#Fog {
  background-image: url(/image/Fog.jpg);
}

#Sand {
  background-image: url(/image/Sand.jpg);
}

#Ash {
  background-image: url(/image/Ash.jpg);
}

#Squall {
  background-image: url(/image/Squall.jpg);
}

#Tornado {
  background-image: url(/image/Tornado.jpg);
}

#Clear {
  background-image: url(/image/Clear.jpg);
}